<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
        <welcome-file>SignUp</welcome-file>
        <welcome-file>Login&gt;</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>FilterSupplier</filter-name>
        <filter-class>Filter.FilterSupplier</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterSupplier</filter-name>
        <url-pattern>/Suppllier</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Confirm_Phone</servlet-name>
        <servlet-class>Controller.Confirm_Phone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginNew</servlet-name>
        <servlet-class>Controller.LoginNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayArticles</servlet-name>
        <servlet-class>Controller.DisplayArticles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_CensorAcc</servlet-name>
        <servlet-class>Admin.Admin_CensorAcc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArticlesPage</servlet-name>
        <servlet-class>Controller.ArticlesPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controller.Home</servlet-class>
        <init-param>
            <param-name>npp</param-name>
            <param-value>2</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Comment</servlet-name>
        <servlet-class>Controller.Comment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateComment</servlet-name>
        <servlet-class>Controller.UpdateComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ticket</servlet-name>
        <servlet-class>Controller.Ticket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>Controller.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAcc</servlet-name>
        <servlet-class>Admin.ManageAcc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAcc</servlet-name>
        <servlet-class>Admin.UpdateAcc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageArticles</servlet-name>
        <servlet-class>Admin.ManageArticles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>Controller.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddArticle</servlet-name>
        <servlet-class>Controller.AddArticle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyTicket</servlet-name>
        <servlet-class>Supplier.MyTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTicket</servlet-name>
        <servlet-class>Supplier.AddTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLicensePlate</servlet-name>
        <servlet-class>Supplier.AddLicensePlate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forgot</servlet-name>
        <servlet-class>Controller.Forgot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyCart</servlet-name>
        <servlet-class>Controller.MyCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrder</servlet-name>
        <servlet-class>Controller.ListOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Confirm_Phone</servlet-name>
        <url-pattern>/Confirm_Phone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginNew</servlet-name>
        <url-pattern>/LoginNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayArticles</servlet-name>
        <url-pattern>/DisplayArticles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_CensorAcc</servlet-name>
        <url-pattern>/Admin_CensorAcc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticlesPage</servlet-name>
        <url-pattern>/ArticlesPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comment</servlet-name>
        <url-pattern>/Comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateComment</servlet-name>
        <url-pattern>/UpdateComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ticket</servlet-name>
        <url-pattern>/Ticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAcc</servlet-name>
        <url-pattern>/ManageAcc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAcc</servlet-name>
        <url-pattern>/UpdateAcc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageArticles</servlet-name>
        <url-pattern>/ManageArticles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddArticle</servlet-name>
        <url-pattern>/AddArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyTicket</servlet-name>
        <url-pattern>/MyTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTicket</servlet-name>
        <url-pattern>/AddTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLicensePlate</servlet-name>
        <url-pattern>/AddLicensePlate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forgot</servlet-name>
        <url-pattern>/Forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyCart</servlet-name>
        <url-pattern>/MyCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrder</servlet-name>
        <url-pattern>/ListOrder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
</web-app>
